body {
}

/* FONTS */

.subtitle {
    font-size: 2em;
    margin: 0 auto;
    max-width: 80%;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

.cofounders-section .subtitle {
    padding-top: 0%;
}

.listmissionhow {
    font-size: 1.5em;
}

.section-title {
    font-size: 2.3em;
}

.media-heading {
    font-size: 1.8em;
}

.signupbtn {
    font-size: .6em;
}

/* phone screens */
@media (max-width: 687px ) {
    .signupbtn {
        font-size: .3em;
    }
}

/* SECTIONS */
.header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/aboutbg.jpg");
    background-size: cover;
    clip: rect(20px, 0, 0, 0);
}

.missionhow-section {
    margin: 0 0 0 0;
}

.value-items {
    align-content: center;
    font-size: 1em;
}

.value-section {
    padding-bottom: 4%;
}

.sponsor-section img{
    height: auto;
    width: 300px;
}

/* small computer screens */
@media (max-width:1280px ) {
    .sponsor-section img {
        height: auto;
        width: 260px;
    }
}

/* phone screens */
@media (max-width: 687px ) {
    .sponsor-section img {
        height: auto;
        width: 220px;
    }    
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.cofounders-section {
    padding-top: -5%;
    background-color: white;
}

.volunteers-section {
    background-color: var(--secondary-color);
    color: black;
    padding: 0 5% 5% 5%;
    max-width: 100%;
}

.sponsor-section {
    padding: 0 5% 5% 5%;
    max-width: 100%;
}

.openarc {
    width: 400px;
}

/* phone screens */
@media (max-width: 687px ) {
    .openarc {
        width: 300px;
    }
}


.join-us-section {
    text-align: center;
    vertical-align: middle;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 25%;
    font-size: 2em;
    font-weight: 800;
    background-color: var(--secondary-color);
    font-family: 'Alatsi', sans-serif;
}

    .join-us-section h2 {
        font-size: 1em;
    }

    .join-us-section h3 {
        font-size: .8em;
    }
/* COLLAPSIBLE SPONSORS SECTION */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
        background-color: #ccc;
    }

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* CAROUSEL */

.carousel-section {
    width:60%;
    align-content: center;
    margin: 0 auto;
}

.carousel-item {
    height: 20%;
    overflow: hidden;
}

    .carousel-item img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators .active {
    background-color: var(--secondary-color);
}
.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    left: -150px;
}

/* phone screens */
@media (max-width: 687px ) {
    .carousel-control-prev {
        left: -80px;
    }    
}

.carousel-control-next {
    right: -150px;
}

/* phone screens */
@media (max-width: 687px ) {
    .carousel-control-next{
        right: -80px;
    }
}
