body {
}

/* FONTS */

.subtitle {
    font-size: 2em;
    margin: 0 auto;
    max-width: 80%;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

.cofounders-section .subtitle {
    padding-top: 0%;
}

.listmissionhow {
    font-size: 1.5em;
}

.section-title {
    font-size: 2.3em;
}

.media-heading {
    font-size: 1.8em;
}

/* SECTIONS */
.header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/aboutbg.jpg");
    background-size: cover;
    clip: rect(20px, 0, 0, 0);
}

.value-items {
    align-content: center;
    font-size: 1em;
}

.value-section {
    padding-bottom: 4%;
}

.sponsor {
    height: 40%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.cofounders-section {
    padding-top: -5%;
    background-color: var(--third-color);
}

.volunteers-section {
    background-color: var(--fourth-color);
    color: white;
}

.sponsor-section {
    padding: 0 5% 5% 5%;
    max-width: 100%;
}

.join-us-section {
    text-align: center;
    vertical-align: middle;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 25%;
    font-size: 2em;
    font-weight: 800;
    background-color: var(--fifth-color);
    font-family: 'Alatsi', sans-serif;
}

    .join-us-section h2 {
        font-size: 1em;
    }

    .join-us-section h3 {
        font-size: .8em;
    }
/* COLLAPSIBLE SPONSORS SECTION */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
        background-color: #ccc;
    }

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* CAROUSEL */

.carousel-section {
    width:60%;
    align-content: center;
    margin: 0 auto;
}

.carousel-item {
    height: 20%;
    overflow: hidden;
}

    .carousel-item img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators .active {
    background-color: var(--secondary-color);
}
