body {
}

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/campsbg.jpg");
    background-size: cover;
}

h2 {
    color: black;
}

.subtitle {
    font-size: 4em;
    color: black;
}


.where-section {
    font-size: 1em;
}
/* small computers */
@media (max-width: 1200px ) {
    .where-section .col-sm {
        font-size: .8em;
        width: 50%;
        margin: 0 auto;
    }
}
/* phones */
@media (max-width: 687px ) {
    .where-section .col-sm{
        font-size: .8em;
        width: 40%;
        margin: 0 auto;
    }
}
/* MAPS */

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
}


/* phone screens */
@media (max-width: 687px ) {
    .mapouter {
        position: relative;
        text-align: right;
        height: 300px;
        width: 100%;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 300px;
        width: 100%;
    }
}

/* SECTIONS */

.video h1 {
    font-size: 3em;
    font-family: 'Alatsi', sans-serif;
}

.info-outer-section {
    background-color: var(--main-color);
    color: var(--third-color);
}

.info-section {
    border-color: black;
    color: black;
    background-color: white;
    border-width: medium;
    border-style: solid;
}


.info-section-text {
    padding: 20px;
    font-size: 1.3em;
}


/* computer screens */
@media (max-width: 1200px ) {
    .info-section-text {
        font-size: .8em;
    }
}

/* Phone screens */
@media (max-width: 687px ) {
    .info-section-text {
        font-size: .6em;
    }
}

.info-section-text .fas {
    font-size: 2em;
}


.info-section-text h2 {
    font-size: 1.6em;
}

.info-section .collapse {
    font-size: 1.4em;
}

.info-outer-section .card {
    background-color: var(--main-color);
}

.maps-section {
    margin: 20px;
}
/* phone screens */
@media (max-width: 687px ) {
    .info-section .collapse {
        font-size: 1em;
    }
}

.signup-section {
    background-color: var(--secondary-color);
}

    .signup-section h1 {
        align-content: center;
        font-weight: 700;
        font-size: 2.3em;
        font-family: 'Alatsi', sans-serif;
    }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
    }
