body {
}

.header {
    background-color: black;
    background-size: cover;
}

/* SECTIONS */
.video h1 {
    font-size: 3em;
    font-family: 'Alatsi', sans-serif;
}

.info-section {
    margin: 5vh;
}