/* SECTIONS */
.header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/contactbg.JPG");
    background-size: cover;
    clip: rect(20px, 0, 0, 0);
}

h2 {
    font-size: 2em;
}