/*
    Created: 3/2/2020 by Jacob Pan
    Purpose: Preset fonts and other general design features that are used on all pages 
*/

/* GENERAL */

/*
    TO USE COLORS
    #foo {
    color: var(--main-color);
}
*/
:root {
    --main-color:#5CDB95;
    --secondary-color: #8EE4AF;
    --third-color: #EDF5E1;
    --fourth-color: #05386B;
    --fifth-color: #379683;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

p {
    font-family: 'Lexend Deca', sans-serif;
}

.width-constraint {
    width: 80%;
    margin: auto;
}

.center {
    text-align: center;
}

br {
    margin-top: 10px;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 2.2em;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* FONTS */

/*
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Alatsi', sans-serif;
*/

.title {
    margin-top:10vh;
    font-size: 10vw;
    font-weight: 600;
    font-family: 'Alatsi', sans-serif;
    color: white;
}

/* NAVBAR */
.navbar {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0;
    font-size: 16px !important;
    transition: 0.6s;
    -webkit-transition: 0.6s;/*for safari*/
    background-color: transparent;
    z-index: 1000;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--main-color);
    font-size: 1.4em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--secondary-color);
    transition-delay: .2s;
}

.navbar-brand {
    font-size: 2em;
    font-family: 'Alatsi', sans-serif;
}

.nav-item {
    font-size: 1.5em;
    font-family: 'Alatsi', sans-serif;
    color: var(--main-color);
}

.footer-list {
    font-size: 1.2em;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

/* SECTIONS */


.section {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.header {
    background-size: cover;
    height: 45%;
    text-align: center;
    padding-top: 5%;
    margin-top:-5%;
    padding-bottom: 80px;
}

.section-title {
    text-align: center;
    vertical-align: middle;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 10%;
    font-size: 4em;
    font-weight: 800;
    background-color: var(--main-color);
    font-family: 'Alatsi', sans-serif;
}

.contact-info {
    text-align: center;
    background-color: lightgray;
}

    .contact-info p {
        font-family: 'Lexend Deca', sans-serif;
    }

.footer {
    text-align: center;
    background-color: black;
    font-size: 1rem;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

    .footer p {
        margin-bottom: .5rem;
    }

    .footer h1 {
        font-family: 'Lexend Deca', sans-serif;
    }