body {
}

/* SECTIONS */
.hero {
    background: url("../images/heroimagebg3.png");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

br {
    margin-top: 0%;
}

.carousel-section {
    padding: 5% 10% 5% 10%;
    max-width: 80%;
}

.carousel-caption {
    position: relative;
    max-width: 70%;
}

.carousel-caption h3 {
    color: black;
    background: rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

/* phone screens */
@media (max-width: 687px ) {
    .carousel-caption h3 {
        font-size: .6em;
    }    
}
.carousel-item {
    height: 300px;
    overflow: hidden;
}

    .carousel-item img {
        height: 150px;
        display: block;
        margin: 0 auto;
    }

.box-shadow {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 0 7px 3px #999;
    padding: 10px;
    background: white;
}

/* phone screens */
@media (max-width: 687px ) {
    .carousel-item img {
        height: 50px;
    }
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators .active {
    background-color: var(--secondary-color);
}

.get-involved {
    color: white;
}

.get-involved-sub {
    height: 50vh;
    vertical-align: middle;
    color: white;
    margin: 20px;
}

/* phone screens */
@media (max-width: 687px ) {
    .get-involved-sub {
        height: 70vh;
        vertical-align: middle;
        color: white;
    }    
}

.chapter {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/chaptersbg2.JPG");
    background-size: 100% 100%;
}

.partner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/partnerbg.jpg");
}



/* FONTS */
h2 {
    font-size: 4.5em;
}


/* phone screens */
@media (max-width: 687px ) {
    h2 {
        font-size: 2.8em;
    }
}

h3 {
    font-size: 2.5em;
}

/* phone screens */
@media (max-width: 687px ) {
    h3 {
        font-size: 2em;
    }
}

.counter {
    font-size: 2.5em;
}

/* phone screens */
@media (max-width: 687px ) {
    .counter {
        font-size: 2em;
    }
}

/* MISC */
hr {
    height: 50px;
    width:15em;
    border-top: 3px solid var(--main-color);
}

.carousel-control-next, .carousel-control-prev {
    bottom: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
    background-image: none;
}

    .carousel-control-next-icon:after {
        margin-left: 100%;
        content: '>';
        font-size: 40px;
        color: black;
    }

    .carousel-control-prev-icon:after {
        margin-right: 100%;
        content: '<';
        font-size: 40px;
        color: black;
    }