body {
}

/* SECTIONS */
.hero {
    background: url("../images/heroimagebg3.png");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

br {
    margin-top: 0%;
}

.carousel-section {
    padding: 5% 10% 5% 10%;
    max-width: 80%;
}

.carousel-caption {
    position: relative;
    max-width: 70%;
}

.carousel-caption h3 {
    color: black;
    background: rgba(0, 0, 0, 0.1);
    font-size: 1.3em;
}

/* phone screens */
@media (max-width: 687px ) {
    .carousel-caption h3 {
        font-size: .8em;
    }    
}
.carousel-item {
    height: 300px;
    overflow: hidden;
}

.carousel-item img {
    height: 150px;
    display: block;
    margin: 0 auto;
}


/* phone screens */
@media (max-width: 687px ) {
    .carousel-item img {
        height: 50px;
    }
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators .active {
    background-color: var(--secondary-color);
}

.get-involved {
    background-color: var(--fourth-color);
    color: white;
}

.row .partner, .row .chapter {
    height: 40vh;
    vertical-align: middle;
    color: white;
}

/* phone screens */
@media (max-width: 687px ) {
    .row .partner, .row .chapter {
        height: 70vh;
        vertical-align: middle;
        color: white;
    }    
}

.chapter {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/chaptersbg2.JPG");
    background-size: 100% 100%;
}

.partner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/partnerbg.jpg");
}



/* FONTS */
h2 {
    font-size: 4.5em;
}


/* phone screens */
@media (max-width: 687px ) {
    h2 {
        font-size: 2.8em;
    }
}

h3 {
    font-size: 2.8em;
}

/* phone screens */
@media (max-width: 687px ) {
    h3 {
        font-size: 2.4em;
    }
}

.counter {
    font-size: 3.0em;
}

/* phone screens */
@media (max-width: 687px ) {
    .counter {
        font-size: 2.5em;
    }
}

/* MISC */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 70px;
    width: 70px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 40px;
        color: black;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 40px;
        color:black;
    }