body {
}

/* SECTIONS */
.hero {
    background: url("../images/heroimagebg3.png");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#hero i {
    color: var(--main-color);
    transition: .4s;
}

#hero i:hover{
    color: var(--secondary-color);
}

br {
    margin-top: 0%;
}

.carousel-section {
    padding: 5% 10% 0 10%;
    max-width: 80%;
    position: relative;
}

.carousel-rect {
}

.carousel-caption {
    top: 0;
    bottom: auto;
    position: absolute;
    max-width: 80%;
}

.carousel-caption h3 {
    color: black;
    background: rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

/* computer screens */
@media (max-width: 1300px ) {
    .carousel-caption h3 {
        font-size: .8em;
    }
}

/* phone screens */
@media (max-width: 687px ) {
    .carousel-caption h3 {
        font-size: .6em;
    }    
}
.carousel-item {
    height: 400px;
    overflow: hidden;
}

    .carousel-item img {
        padding-top: 70px;
        width: 320px;
        display: block;
        margin: 0 auto;
    }

/* computer screens */
@media (max-width: 1300px ) {
    .carousel-item img {
        width: 200px;
        padding-top: 140px;
    }
}

/* phone screens */
@media (max-width: 687px ) {
    .carousel-item img {
        padding-top: 150px;
        width: 120px;
    }
}

.box-shadow {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 0 7px 3px #999;
    padding: 10px;
    background: white;
}


.carousel-indicators li {
    background-color: black;
}

.carousel-indicators .active {
    background-color: var(--secondary-color);
}

.get-involved {
    color: white;
}

.get-involved-sub {
    height: 500px;
    vertical-align: middle;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-involved-sub {
    width: auto;
}

.get-involved-sub .btn {
    transition: 0.3s;
    font-size: 1.2em;
}

.get-involved hr {
    height: 50px;
    width: 15em;
    border-top: 3px solid;
}


/* phone screens */
@media (max-width: 687px ) {
    .get-involved hr {
        width: 12em;
    }
}

/* phone screens */
@media (max-width: 687px ) {
    .get-involved-sub {
        color: white;
    }    
}

.chapter {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/chaptersbg2.JPG");
    overflow: hidden;
}

.partner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/partnerbg.jpg");
    overflow: hidden;
}



/* FONTS */
h2 {
    font-size: 4.5em;
}


/* phone screens */
@media (max-width: 687px ) {
    h2 {
        font-size: 2.8em;
    }
}

h3 {
    font-size: 2.5em;
}

/* phone screens */
@media (max-width: 687px ) {
    h3 {
        font-size: 2em;
    }
}

.counter {
    font-size: 2.5em;
}

/* phone screens */
@media (max-width: 687px ) {
    .counter {
        font-size: 2em;
    }
}

/* MISC */
#info hr {
    height: 50px;
    width:15em;
    border-top: 3px solid var(--main-color);
}

/* phone screens */
@media (max-width: 687px ) {
    #info hr {
        width: 10em;
    }
}
.carousel-control-next, .carousel-control-prev {
    bottom: 50%;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    left: -100px;
}

/* phone screens */
@media (max-width: 687px ) {
    .carousel-control-prev {
        left: -60px;
    }
}

.carousel-control-next {
    right: -100px;
}

/* phone screens */
@media (max-width: 687px ) {
    .carousel-control-next {
        right: -60px;
    }
}
