body {
}

.header {
    background-size: cover;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/outreachbg.JPG");
    background-size: 100%;
}

.subtitle {
    font-size: .28em;
}

.signupbtn {
    font-size: .4em;
}
/* phone screens */
@media (max-width: 687px ) {
    .signupbtn {
        font-size: .28em;
    }
}